<p id="notice"><%= notice %></p>

<p>
  <b>Capacity:</b>
  <%= @resource_period.capacity %>
</p>


<%= link_to 'Edit', edit_resource_period_path(@resource_period) %> |
<%= link_to 'Back', resource_periods_path %>
